version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    restart: always
    networks:
      - code-spaces
  docker_controller:
    image: taasheeadmin/docker_controller
    container_name: docker_controller
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./nginx.conf:/code/nginx.conf
    environment:
      - MAPPING_PATH=/home/manikanta/code-spaces-mapping
      - DOMAIN=http://localhost
    restart: always
    networks:
      - code-spaces

networks:
  code-spaces:
    external: true
